.repre{
    font-size:x-large;
    line-height:250%;
    background-color:#bded7e;
    box-shadow:5px 5px #8ebf3f;
}
.txt{
    text-align:center;
    padding: 10px;
    margin: 15px;
    background-color: #fe9d97;
    box-shadow:5px 5px #fe495f;
}
.alinear{
    display: flex;
    justify-content: center;   
}
.videoyt{
    width: 50em;
    height: 30em;
    margin: 1px;
}