h1{
    text-align: center;
    line-height: 150%;
}
.ofertadescuento{
    text-align: center;
    background-color: #82ac40;
    padding: 10px;
    font-size: 150%;
}
main img{
    width: 72em;
    margin: 1px;
}
.imagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: #000000;
}
.mover{
    float: center;
}
section img{
    display: flex;
}
.videonosotros{
    background-color:#8ebf3f;
    padding: 10px;
}
.nosotros{
    width: 100%;
    margin: 7em;
    padding: 10px;
}
.ubicacion{
    padding: 10px;
    background-color:#fe9d97;
}
#herencia2{
    background-color: #d8fd94;
}
.tamañoubi{
    height: 400px;
    width: 700px;
}
.tamañoubilarumbe{
    width: 700px;
    height: 400px;
}
.icon{
    margin: 100px;
    width: 150px;
    background:none;
    border-color: black;
    border-radius: 100%;
    border-style:double;
}
.moverimg{
    float: right;
    width: 40em;
    padding: 4em;
    margin: 4em;
}
.contenedor-sucursales{
    width: 100%;
}
.imgser{
    margin: 49px;
    width: 45em;
    box-shadow: 0px 0px 20px 5px;
}
.tamañoubi{
    width: 600px;
}
.tamañoubilarumbe{
    width: 600px;
}